#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
<<<<<<< HEAD
=======
.hz-dashboard__welcome {
  color: #000000;
}

.hz-dashboard__welcome h1,
.hz-dashboard__welcome p {
  color: #000000;
}
>>>>>>> origin/uiupdate
